---
import { experiences } from "@/data/experience";
import GlowCard from "./GlowCard.astro";
---

<section
	id="experience"
	class="relative z-50 border-t my-12 lg:my-24 border-[#25213b]"
>
<img
src="/section.svg"
alt="Hero"
width={1572}
height={795}
class="absolute top-0 -z-10"
/>

<div class="flex justify-center my-5 lg:py-8">
<div class="flex  items-center">
	<span class="w-24 h-[2px] bg-[#1a1443]"></span>
	<span class="bg-[#1a1443] w-fit text-white p-2 px-5 text-3xl rounded-md">
		Experiences
	</span>
	<span class="w-24 h-[2px] bg-[#1a1443]"></span>
</div>
</div>

<div class="py-8 px-4 lg:px-8">
	<!-- Experience Cards: 1 col mobile, 2 cols desktop, items-start so expanded cards don't stretch siblings -->
	<div class="grid grid-cols-1 md:grid-cols-2 gap-6 items-start">
		{experiences.map((experience) => {
			return (
				<GlowCard experience={experience} />
			);
		})}
	</div>
</div>
</section>

<script>
	import { initGlowCards } from "@/scripts/glow-cards";

	initGlowCards();
	document.addEventListener("astro:after-swap", initGlowCards);
</script>
