---
import MainGridLayout from "../layouts/MainGridLayout.astro";
---

<MainGridLayout showSidebar={false}>
  <div class="min-h-[50vh] flex items-center justify-center">
    <h1 class="text-4xl font-bold">HOLA MUNDO</h1>
  </div>
</MainGridLayout>
